<div class="container">
  <div class="row">

    <div class="col-sm-8">
      <div class='row businesses'>
        <% @businesses.each do |business| %>
          <div class='col-sm-4 business'>
            <a href='<%= business_path(business) %>'>
              <img class="img-responsive" src="<%= business.avatar %>">
              <div class='overlay'></div>
              <div class='details'>
                <span><%= business.name %></span>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    
    
    <div class="col-sm-4">
      <%= render partial: 'layouts/nav' %>
    </div>
    
  </div>

</div>

<div class="container after-profile">
    
    <div class="col-sm-4 side-bar-margin">

    </div>
</div>


