<div class="container body-container">
  <div class="row business-grid">
    
    
    <div class="col-sm-4 col-sm-push-8 col-xs-12">
      <%= render partial: 'layouts/nav' %>
    </div>


    <div class="col-sm-8 col-sm-pull-4 col-xs-12">
      <div class='row businesses'>
        <% @businesses.each do |business| %>
          <div class='col-sm-6 col-xs-12 business'>
            <a href='<%= business_path(business) %>'>
              <img class="img-responsive" src="<%= business.cover %>">
              
              <div class='details'>
                <span><%= business.name %></span>
              </div>
              <div class="explore">
                <span>Explore</span>
              </div>  
            </a>
          </div>
        <% end %>
      </div>
    </div>
    
    

    
  </div>

</div>

<div class="container after-profile">
    
    <div class="col-sm-4 side-bar-margin">

    </div>
</div>


