<div class="row side-bar-chat">

  <div class="col-xs-12 hide">
    <input type="text" class="search-field empty" id="iconified" placeholder="&#xF002; " style="font-family:Arial, FontAwesome; font-size:20px;">
  </div>
  <div class='conversations'>
    <% @conversations.each do |conversation| %>
      <%= render partial: 'mailboxer/conversations/conversation', locals: {conversation: conversation} %>
    <% end %>
  </div>
  <div id="infinite-scrolling">
    <%= will_paginate @conversations %>
  </div>
</div>