<div class="container">
  <div class="row">
    
    <div class="col-sm-4 col-sm-push-8">
      <%= render partial: 'layouts/nav' %>
    </div>

  </div>
</div>





<div class='container'>
  <div class="col-xs-12 col-sm-8">
    <div class="short_by"><a href="#">Short By</a></div>
    
    <div class="col-xs-12 col-sm-12 event_profile">
      <div class="event_name"><strong>Event</strong> Name</div>
      <div class="event_dis">
        <h2>DATE & TIME</h2>
        <span>LOCATION</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  eiusmod tempor incididunt ut labore eiusmod           tempor incididunt ut labore et dolore </p>
        <span>+ Read More</span>
      </div>
      <div class="attend">Attend</div>
    </div>
    
    <div class="col-xs-12 col-sm-12 event_profile2">
      <div class="event_name"><strong>Event</strong> Name</div>
      <div class="event_dis">
        <h2>DATE & TIME</h2>
        <span>LOCATION</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  eiusmod tempor incididunt ut labore eiusmod           tempor incididunt ut labore et dolore </p>
        <span>+ Read More</span>
      </div>
      <div class="attend">Attend</div>
    </div>
    
    <div class="col-xs-12 col-sm-12 event_profile">
      <div class="event_name"><strong>Event</strong> Name</div>
      <div class="event_dis">
        <h2>DATE & TIME</h2>
        <span>LOCATION</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  eiusmod tempor incididunt ut labore eiusmod           tempor incididunt ut labore et dolore </p>
        <span>+ Read More</span>
      </div>
      <div class="attend">Attend</div>
    </div>                     
    
  </div>
</div>