<div class="container body-container">
  <div class="row">
    
    <div class="col-sm-4 col-sm-push-8 col-xs-12">
      <%= render partial: 'layouts/nav' %>
    </div>
    
    <div class="col-sm-8 col-sm-pull-4 col-xs-12">
      
      <div class="col-xs-12 building-neighborhood-bar"> <a href="#" class="active" data-toggle='modal' data-target='#newEvent'>CREATE EVENT</a></div>
      <div class="col-xs-12 building-neighborhood-bar all">
          <a href="/events?filter=pending_invitations" class='loadScript' style="padding-right:20px;">Invited</a>
          
          <a href="/events?filter=attending" class="loadScript" style="border-right:2px solid white; border-left: 2px solid white; padding-left:20px; padding-right: 20px;">Attending</a>
          
          <a href="/events?filter=created" class="loadScript" style="border-right:2px solid white;  padding-left:15px; padding-right: 20px;">My Events</a>
          
          <a href="/events" class="loadScript" style="padding-left:20px;">All</a>
        </div>
      
      <div class='events'>
        <% @events.each do |event| %>
        
        <%= render partial: 'event', locals: {event: event} %>
        
        <% end %>
        
      </div>
        
    </div>
    
    
  </div>

</div>


<%= render partial: 'events/new' %>

