//= require bootstrap.min
//= require font-awesome.min

@import 'fonts-colors';
@import 'general-tags';
@import 'home-page';
@import 'focus-pages';
@import 'signup';
@import "main";
@import 'chosen';


.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.mini-avatar{
  width: 35px;
}

#newMessage{
  .chosen-container{
    width: 100% !important;
  }
  .form-control{
    border-radius: 0;
  }
  .modal-content{
    border-radius: 0;
    box-shadow: none;
  }
  .btn-primary{
    padding: 15px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #abccce;
    text-transform: uppercase;
    border: none;
  }
}