//= require bootstrap.min
//= require font-awesome.min
//= require jquery.ui.all
//= require xeditable
//= require dropzone/dropzone


@import 'fonts-colors';
@import 'general-tags';
@import 'home-page';
@import 'focus-pages';
@import 'signup';
@import "main";
@import 'chosen';
@import 'events';



// Search Styling
#search{
  font-family:Arial, FontAwesome;
  font-size:20px;
}

.ui-menu-item{
  margin-bottom: 10px;
  a{
    img{
      display:inline-block;
    }
    span{
      margin-left: 10px;
      display: inline-block;
    }
  }
}

//Editable Styling
.editable-buttons{
  .btn-sm{
    border-radius: none !important;
  }
  .btn-primary{
    background: $blue;
  }
  .btn-default{
    background: $lightBlue;
  }
}

a.uneditable,
a.uneditable:hover{
  text-decoration: none;
  color: $midGreen
}

.editable-click, a.editable-click{
  color: $blue;
}


//Mailbox Styling
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.mini-avatar{
  width: 35px;
}

#newMessage{
  .chosen-container{
    width: 100% !important;
  }
  .form-control{
    border-radius: 0;
  }
  .modal-content{
    border-radius: 0;
    box-shadow: none;
  }
  .btn-primary{
    padding: 15px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #abccce;
    text-transform: uppercase;
    border: none;
  }
}

//Map Styling

#map-container {
   height: 400px;
   border-color: #fff;
   border-style: solid;
   margin-top: 25px;
   border-width: 7px;
   margin-bottom: 30px;
 }
 #map-canvas {
   height: 384px;
   width: 100%;
 }
 
 .clickable-row{
  cursor: pointer;
 }