.event{
  margin:20px 0px;
  padding:0px;
  float:left;
  position: relative;
  height: 315px;
  overflow: hidden;
  img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .event-content{
    position: relative;
    z-index: 0;
  }
}
.sort_by{
  color:#345064;
  font-size:12px;
  float:left;
  margin:0;
  text-align:right;
  padding:0 0 0px 0;
  width:100%;
  clear:both;
}
.sort_by a{
  color:#345064;
}
.event_name {
  background: #ffffff none repeat scroll 0 0;
  color: #345064;
  float: left;
  font-size: 27px;
  margin: 15px;
  padding: 5px 20px;
  font-weight: 600;
}
.event_dis {
  background: #ffffff none repeat scroll 0 0;
  clear: both;
  float: left;
  font-size: 30px;
  margin: 0 0 15px 15px;
  padding: 5px 20px 0;
  width: 300px;
}

.event_dis h2{
  color:#ed9520;
  font-size:20px;
  line-height:40px;
  float:left;
  margin:0;
  padding:0;
}

.event_dis p{
  color:#abcdcf;
  font-size:15px;
  float:left;
  clear:both;
}
.event_dis span{
  color:#345064;
  font-size:14px;
  float:left;
  margin:0;
  padding:0 0 10px 0;
  clear:both;
}

.events-info{
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
}

.attend{
  margin:28% 15px 15px 0px;
  padding:5px 0px;
  width:100px;
  float:right;
  color:#ee9621;
  text-align:center;
  background:#fff;
}

.info-box2 {
  padding: 5px 15px;
  background-color: #dfeced;
  margin-top: 30px;
  margin-bottom: 30px; 
}
.info-box2 h3 {
  color: #abcdcf;
  font-size:20px;
  border-bottom: 2px solid #26474a;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block; 
}
.info-box2 img {
  margin: 15px 0px; 
}

#newEvent{
  .modal-backdrop{
    background-color: #fff;
  }
  .modal-backdrop.in{
    opacity: 0.75;
  }
  .modal-content{
    box-shadow: none;
    border-radius: 0;
    input,select,textarea{
      border-radius: 0 !important;
    }
    .btn-primary{
      background: #abcdcf;
      border-color: #abcdcf;
    }
  }
}


// @media only screen 
// and (min-width: 320px) 
// and (max-width: 480px) {
//   .event_name {
//     background: #ffffff none repeat scroll 0 0;
//     color: #345064;
//     float: left;
//     font-size: 25px;
//     margin: 15px;
//     padding: 5px 0 5px 20px;
//     width: 88%;
//   }
//   .event_dis {
//     background: #ffffff none repeat scroll 0 0;
//     clear: both;
//     float: left;
//     font-size: 30px;
//     margin: 0 0 15px 15px;
//     padding: 5px 0 0 20px;
//     width: 88%;
//   }
//   .attend {
//     margin: 4% 15px 15px 0;
//   }
// }

// .dropdown-menu{
//   top: 40px;
//   right: -30px;
//   width: 95px;
//   min-width: 0;
//   left: inherit;
//   .nav-link{
//     margin-left: 0 !important;
//     padding: 10px 20px;
//   }
// }

@media (max-width:768px) {
  .event{
    height: auto;
  }
  .event-content{
    z-index: 0;
  }
  .event_name{
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    float: none;
  }
  .event_dis {
    float: none;
    width: auto;
    margin: 0 15px;
    h2{
      font-size: 16px;
      float: none;
    }
    span{
      float: none;
      display: block 
    }
  }
  
  .side-nav{
    margin-bottom: 0;
  }
}




