.container {
	max-width:1200px;
}
.body-container{
	padding-top: 71px;
}
footer {
	background-color:$offwhite;
	color:#abccce;
	text-align:center;
	padding:20px;
	margin-bottom:45px;

	img {
		width:120px;
		margin:0 auto;
	}
	p {
		margin:0px;
		padding:0px;
	}
}

.inner-page {
	background-color:#f4f9f9;
}
header.inner {
	background-color:$header;
	padding:8px 0px;
	position: fixed;
	width: 100%;
	z-index: 1;
	top:0;

	.search-column {
		margin-top:3px;

		.search-field {
			height:40px;
			border:none;
			background-color:white;
			padding:0px 10px;
			width:100%;

		}
	}
	.logo{
		max-width: 70%;
	}
	.nav-column {
		margin-top:5px;

		img, a.mini-profile-pic, a.settings, a.notifications {
			float:right;
			margin-left:30px;
			height:40px;
			color: $lightBlue;
		
		}
		a.mini-profile-pic{
			margin-left: 3px;
		}
		.settings{
			font-size: 35px;
			line-height: 42px;
		}
		.notifications{
			font-size: 27px;
			line-height: 40px;
		}
		span.notificationCount{
			font-size: 12px;
	    background: #fff;
	    border-radius: 100%;
	    width: 20px;
	    height: 20px;
	    text-align: center;
	    line-height: 21px;
	    position: absolute;
	    margin-left: -15px;
	    margin-top: -1px;
	    display: none;
		}
		.unread-notifications{
			span.notificationCount{
				display: inline-block;
			}
		}
		.dropdown{
			.notification-dropdown{
				width: 400px;
		    top: 55px;
		    left: -55px;
		    box-shadow: none;
		    h5{
		    	margin: 0;
		    	padding: 10px 15px;
    			border-bottom: 1px solid $blue;
		    }
		    li{
		    	padding: 18px 15px;
    			height: 63px;
    			border-bottom: 1px solid #abccce;
    			img{
    				margin-top: -9px;
    			}
		    }
		    li.unread{
		    	background: rgba(100, 196, 202, 0.12);
		    }
		    li:nth-last-child(1){
		    	border-bottom: none;
		    }
		    a{
		    	display: inline;
		    	padding: 0;
		    	color: $midGreen;
		    }
			}
		}
	}
	.profile-pic{
		border-radius: 100%;
		border: 3px solid $lightBlue;
	}
}




.col-sm-1.setting img {
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
}
.setting{
	background:#dfeced;
}


@media (max-width:768px) {
	header.inner{
		.logo{
			max-width: 75px;
			margin-left: auto;
			margin-right: auto;
		}
		.logo-link{
			z-index: 999;
		}
		.nav-column{
			position: absolute;
			left:0;
			top: 0;
			width: 100%;
			z-index: -1;
			a.mini-profile-pic{
				margin: 0;
		    left: 17px;
		    position: absolute;
		    top: -8px;
				img{
					margin: 0;
				}
			}
		}
	}
}
