
.incentive-wrapper{
  background: $lightBlue;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: -20px;
  h3{
    text-transform: uppercase;
    font-weight: 300;
    color: #D5861E;
  }
  a,p{
    color: $blue;
  }
  input{
    background: none;
    box-shadow: none;
    border: none;
    color: $blue;
  }
}

.profile {
  margin-top:71px;
  background-color:white;
  color:$midGreen;
  
  
  .cover-img-wrapper{
    height: 300px;
    overflow: hidden;
  }
  .name-section{
    margin-top: -101px;
    margin-bottom: 40px;
    span{
      background: #fff;
      font-size: 55px;
      padding-bottom: 10px;
    }
    a{
      font-size: 50px;
    }
    .first-name{
      font-weight: 800;
    }
  }
  .profile-pic {
    margin-top:-100px;
  }
  a.uneditable{
    color: $blue; 
  }
  .img-wrapper,
  .cover-img-wrapper{
    position: relative;
    .overlay{
      background: $blue;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.0;
      cursor: pointer;
    }
    .dropzone{
      border: none;
    }
    span{
      position: absolute;
      top: 50%;
      color: #fff;
      font-size: 15px;
      text-align: center;
      width: 100%;
      opacity: 0.0;
      left:-10px;
      transform: translateY(-50%);
    }
    .new-profile-pic-form,
    .new-cover-pic-form{
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      background: none;
    }
    
  }
  .img-wrapper:hover,
  .cover-img-wrapper:hover{
    .overlay{
      opacity: 0.75;
    }
    span{
      opacity: 1.0;
    }
  }
  .change-profile-pic{
    left: -15px;
  }
  p {
    margin-top:10px;
  }
}
@media (max-width:700px) {
  .profile-pic {
    margin-top:10px !important;
  }
}
.after-profile {
  

  .post-area {
    background-color:white;
    padding:20px;
    color:$blue;
    margin-top:40px;

    a {
      color:$lightBlue;
    }

    .name {
      color:$orange;
      font-weight: 500;
    }
    .time {
      font-size:70%;
    }
    h3 {
      margin-top:0px;
    }
  }

  .after-post-area {
    padding:0px 15px;

    .comment-bar {
      background-color:$midGreen;
      color:white;
      padding:10px 10px 0px 10px;
      height:auto;
      line-height:30px;
      font-size:125%;

      .like-count, .comment-count {
        float:left;
        margin-right:10px;
      }
      button{
        background: none;
        border: none;
        float: right;
        margin-left: 10px;
        font-size: 130%;
      }
      button:focus{
        outline: 0;
      }
      .fa {
        float:right;
        margin-left:10px;
        font-size:130%;
      }
      .fa-heart-o,.fa-heart{
        font-size: 100%;
      }
      .fa-heart:before{
        color: #ed9522;
      }
      .fa-heart-o:before{
        color: #fff;
      }
      a.addNewComment{
        color: #fff;
      }
      a.addNewComment:hover{
        color: #fff;
      }
      .comment_field{
        padding: 0 0 10px 0;
        
        input.new_comment_body{
          width: 100%;
          height: 30px;
          background-color: #fff;
          border: none;
          font-size: 0.75em;
          color: $blue;
          padding-left: 5px;
          padding-right: 5px;
        }
        
        input.new_comment_body:focus{
          outline: 0;
        }
      }
    }

    .comments {
      background-color:#dfeced;
      
      .comment:nth-child(1){
        .sep{
          display: none;
        }
      }
      .comment {
        margin-top:15px;
        color:$blue;
        margin-bottom:15px;
        
        .sep{
          width: 80%;
          border-top: 1px solid #fff;
          margin-bottom: 10px;
        }

        a {
          color:$lightBlue;
        } 
        
        .time {
          font-size:70%;
          .heart {
            color:white;
            font-size:160%;
            margin-left:15px;
          }
        }
        .newCommentLike{
          color: $blue;
        }
        .like-count-wrapper{
          font-size: 70%;
          display: inline;
        }
        .new_comment_like{
          button{
            background: none;
            border:none;
          }
          button:focus{
            outline: 0;
          }
        }
      }
    }
  }
}

@media (max-width:600px) {
  .after-profile{
    .post-area{
      .avatar{
        
      }
    }
  }
}

a.add-to-fav {
  background-color:$blue;
  color:#83a3ab;
  text-decoration:none !important;
  width:100%;
  padding:15px;
  display:block;
  margin-bottom:30px;

  &:hover {
    color:white;
  }
}
.map {
  margin-bottom:30px;
}

.side-nav{
  margin-bottom: 30px;
  .follow-btn{
    color: #b1d0d2;
    padding: 10px 20px;
    font-size: 14px;
    display: block;
    background: none;
    border: none;
  }
  .follow-btn:focus{
    outline: 0;
  }
}

.info-box {
  padding:5px 15px;
  background-color:#dfeced;
  margin-bottom:30px;

  h3 {
    color:$midGreen;
    border-bottom:2px solid white;
    margin:0px;
    margin-top:10px;
    margin-bottom:10px;
    display:inline-block;
  }
  img {
    margin:15px 0px;
  }
}


.coupon {
  margin-top:40px;
}


.progress {
  background-color:$header;
  border:0px solid white;
  border-radius:0px;
  height:30px;
  margin-bottom:0px !important;
}
.progress-bar-custom {
  background-color:$lightBlue;
  color:$header;
  font-weight:bold;
  font-size:110%;
  padding-top:5px;
}
.progress-status {
  margin-bottom:30px;
  background-color:white;
  padding:10px;
  text-align:center;
  font-size:120%;
  ul{
    text-align: left;
     width: 80%;
    margin-left: 20%;
  }
  a {
    color:$orange;
    text-decoration:none !important;
    font-weight:bold;

    &:hover {
      color:$lightBlue;
    }
  }
}
.side-bar-margin {
  padding-top:40px;
}

.building-neighborhood-bar {
  background-color:$lightBlue;
  height:45px;
  line-height:45px;
  margin-bottom:20px;
  text-align:center;
  font-size:130%;
  font-weight:500;

  a {
    color:$header;
    height:25px;
    padding:0px;
    line-height:25px;
    display:inline-block;
    text-decoration:none !important;
  }
  .active {
    color:white;
    font-weight:normal;
  }
}
.building-neighborhood-bar.building{
  a:nth-child(1){
    color: white;
  }
}
.building-neighborhood-bar.neighborhood{
  a:nth-child(2){
    color: white;
  }
}

.building-neighborhood-bar.all{
  a:nth-child(4){
    color: white;
  }
}
.building-neighborhood-bar.pending_invitations{
  a:nth-child(1){
    color: white;
  }
}
.building-neighborhood-bar.attending{
  a:nth-child(2){
    color: white;
  }
}
.building-neighborhood-bar.created{
  a:nth-child(3){
    color: white;
  }
}

@media (max-width:768px) {
  .building-neighborhood-bar{
    font-size: 100%;
    a{
      padding: 0;
    }
  }
}