.signup-page {
	background-color:$header;

	.container-small {
		max-width:500px;

		img {
			margin-top:30px;
			margin-bottom:15px;
		}
	}

	.column-left {
		width:50%;
		float:left;
		border-right:2px solid white;
		padding:15px 80px 15px 0px;
	}

	.column-right {
		width:50%;
		float:right;
		padding:15px 0px 15px 80px;
	}
	.form-group{
		margin-bottom: 0;
	}
	.chosen-container{
		color: white;
		font-size: 18px;
		font-weight: 600;
		height: 40px;
		width: 100% !important;
    padding: 10px 10px 10px 18px;
    background-color: #91a0ab;
    border: none;
    margin-bottom: 25px;
    .chosen-single{
    	padding: 0;
    	background: none !important;
    	border: none !important;
    	box-shadow: none !important;
    	color: #fff !important;
    	// font-size: 120% !important;
    	// font-weight: bold !important;
    }
    .chosen-drop {
    	background-color: #91a0ab;
    	ul {
	    	li {
	    		background-color: #91a0ab;
	    		color: white;
	    	}
    	}
    }
	}
	input {
		width:100%;
		padding:10px;
		background-color:#91a0ab;
		border:none;
		margin-bottom:25px;
	}
	::-webkit-input-placeholder {
	   color:white;
	   // font-size:120%;
	   // font-weight:bold;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color:white;
	   // font-size:120%;
	   // font-weight:bold;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color:white;
	   // font-size:120%;
	   // font-weight:bold;
	}

	:-ms-input-placeholder {
	   color:white;
	   // font-size:120%;
	   // font-weight:bold;
	}

	[type="radio"] {
		border:0;
		position:absolute;
		padding:0;
		width:20px;
		height:20px;
		margin:-1px;
	}
	.type-of-business {
		color:white;
		font-size:120%;
		margin-bottom:25px;
	}
	label {
		display:inline-block;
		cursor:pointer;
		line-height:20px;
		margin-left:20px;
	}
	[type="radio"] + span {
		display:inline-block;
	}
	[type="radio"] + span:before {
		content: '';
		display:inline-block;
		width:20px;
		height:20px;
		vertical-align:-5px;
		border-radius:50%;
		border:none;
		margin-right:10px;
	}
	// [type="radio"]:focus + span:after {
	// 	// content: '\0020\2190';
	// 	font-size:20px;

	// }

	.container-submit {
		clear:both;
		max-width:500px;

		button.submit-button {
			width:100%;
			padding:15px;
			font-size:130%;
			background-color:#abcdcf;
			border:none;
			color:white;
		}
	}
	.clear-floats {
		clear:both;
		height:25px;
	}
}
#warning {
	color:$orange;
	font-weight:bold;
	font-size:115%;
}

.building-prompt{
	background: #abccce;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	img{
		width: 400px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 10%;
	}
	.main-content{
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translateX(-50%);
		form{
			max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 35px;
	    .btn{
			  margin-top: 35px;
		    background: #ed9522;
		    border: none;
		    border-radius: 0;
		    font-size: 20px;
		    text-transform: uppercase;
		    padding: 9px;
		    height: auto;
	    }
		}
		h1,h2{
			text-align: center;
			font-weight: 200;
			color: $header;
		}
		h2{
			font-size: 20px;
		}
	}
}




















