<div class="chat-bar">
  <div class="container">
    <div class="row">
      
      <div class='single-chat-box hide'>
        <div class='top-bar'><span class='name'></span></div>
        <div class='conversation-wrapper'>
          <div class='message'>
            <div class='img-wrapper'>
              <img class='img-responsive' src=''>
            </div>
            <div class='text'></div>
            <div class='clear'></div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4 col-sm-offset-8 chat-box">
        <div class='top-bar'>
          <i class="fa fa-circle-o"></i> Instant Chat
        </div>
        <div class='conversations'>
          <% current_user.mailbox.conversations.limit(10).each do |convo| %>
          <div class='conversation'>
            <a href='#'>
            <img class='img-responsive' src='<%= (convo.participants - [current_user])[0].avatar %>'>
            <p class='name'><%= (convo.participants - [current_user])[0].name %></p>              
          </div>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>
