<div class="chat-bar">
  <div class="container">
    <div class="row">
      
      <div class='single-chat-box hide'>
        <div class='top-bar'><span class='name'></span></div>
        <div class='conversation-wrapper'>
          <div class='message'>
            <div class='img-wrapper'>
              <img class='img-responsive' src=''>
            </div>
            <div class='text'></div>
            <div class='clear'></div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-sm-offset-8 chat-box">

        <div class='top-bar'>
          <span class="back-button inactive"> Back </span>
          <i class="fa fa-circle-o"></i> Instant Chat
        </div>
        <div class='conversations'>
          <div class="conversation inactive">
            <img class="img-responsive" src="">
            <p class='name'></p>
            <textarea name="text" cols="26" rows="6" placeholder="Write here..."></textarea>
            <button class="submit-message-button">SEND</button>
          </div>
          <div class="conversation-options">
            <% current_user.mailbox.conversations.each do |convo| %>
              <div class="conversation">
                <a href="#">
                  <img class="img-responsive" src="<%= (convo.participants - [current_user])[0].avatar %>">
                  <p class='name'><%= (convo.participants - [current_user])[0].name %></p>
                </a>
                <div class="conversation-messages inactive">
                  <% convo.receipts_for((convo.participants - [current_user])[0]).each do |receipt| %>
                    <div> <%= receipt.message.body %> </div>
                  <% end %>
                  <div class="new-message">
                    <textarea name="text" cols="26" rows="1" placeholder="Write here..."></textarea>
                    <button class="submit-message-button">SEND</button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <%= subscribe_to "/messages/new" %>
</div>
