<ul class="side-nav">
  <li><%= link_to 'Feed', root_path %></li>
  <li><a href="#" style='cursor:not-allowed;'>Events</a></li>
  <li><a href="#" style='display:none; cursor:not-allowed;'>Messages</a></li>
  <li><a href="#" style='cursor:not-allowed;'>Small Business Listings</a></li>
  <li><a href="#" style='cursor:not-allowed;'>My Incentives</a></li>
</ul>
