<ul class="side-nav">
  <li><%= link_to 'Feed', root_path %></li>
  <% unless current_user.business? %>
    <li><a href="#" style='cursor:not-allowed;'>Events</a></li>
    <li><%= link_to 'Messages', conversations_path %></li>
    <li><a href="#" style='cursor:not-allowed;'>Small Business Listings</a></li>
  <% end %>
  <li><%= link_to 'My Incentives', discount_codes_path %></li>
</ul>
